#La carpeta ContenidoSecreto
**/ContenidoSecreto

#Ignorar Config por seguridad
**/config.php

#Ignorar Extension pdf en assets
**.pdf
!/docs/*.pdf

#Ignorar extension txt 
**.txt

#Ignorar imagenes exceptuando importantes para el sistema
/assets/media/images/*
!*-system*

#Ignorar -prueba && -local
*-prueba* 
*-local*

!*-experimento*
